[user]
	name = Toni Cabrera
	email = acabreragnz@gmail.com
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
	ff = only
[fetch]
	prune = true
[core]
	pager = less -x4
	editor = code -w
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[merge]
	ff = false
[grep]
	lineNumber = true
[rerere]
	enabled = true
[rebase]
	autoStash = true
[help]
	autoCorrect = prompt
[alias]
  update = "!f() { branch=\"${1:-main}\"; interactive=\"${2:-}\"; git fetch origin && git rebase $interactive origin/\"$branch\"; }; f"
	ls = log --oneline
